#myOwnModal {
  width: 60%;
  position: fixed;
  top: 0px;
  left: 20%;
  z-index: 2; }

.img-modal {
  width: 600px;
  margin: auto;
  display: block; }

.para-modal {
  font-size: 30px; }

html, body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: black; }

#accommodations {
  margin-top: -16px; }

#trips {
  margin-top: -16px; }

#comment {
  width: 19.5%;
  text-transform: uppercase;
  opacity: 0.8; }

.hero-image {
  background-image: url("../images/mont-red.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px; }

.hero-text {
  width: 60%; }

.search {
  opacity: 0.7;
  width: 60%;
  border-radius: 15px; }

h3 {
  font-size: 15px; }

.search input {
  height: 77px;
  width: 156px;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer; }

.input {
  height: 77px;
  width: 156px;
  border-radius: 15px;
  display: inline-block; }

.my-button {
  border: 3px solid white;
  width: 180px; }

.other-btn {
  width: 200px;
  margin: 20px;
  margin-top: -135px;
  border: 3px solid white; }

.logo {
  width: 140px; }

.my-icons {
  font-size: 15px;
  border-radius: 15px; }

.my-title {
  font-size: 70px; }

.menu {
  color: white;
  font-size: 40px;
  margin-top: -43px;
  cursor: pointer; }

.nz-logo {
  width: 120px;
  margin-top: -15px; }

.leavelo {
  width: 200px;
  margin-top: -40px;
  float: right;
  margin-right: -28px; }

.qna {
  font-size: 40px;
  color: white;
  cursor: pointer; }

.img__wrap {
  position: relative; }

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  color: #fff;
  visibility: hidden;
  opacity: 0.5;
  width: 85%;
  margin-left: 26px;
  margin-top: 10px;
  padding: 10px;
  transition: opacity .2s, visibility .2s; }

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 0.5; }

.the-phone {
  font-size: 20px; }

.icons {
  font-size: 30px; }

.myphone-div {
  margin-top: -30px; }

#map {
  height: 500px;
  width: 100%; }

.form-control {
  width: 21%; }

.details {
  width: 300px; }

.modal-text {
  font-size: 40px; }

.myBackgrounds {
  background: black;
  opacity: 0.9; }

.oscuro {
  background: black; }

.socials {
  width: 40px;
  padding: 10px;
  filter: invert(99%) sepia(96%) saturate(18%) hue-rotate(239deg) brightness(104%) contrast(100%); }

.icons-div {
  float: right;
  margin-top: -50px; }

.copyright {
  float: left;
  margin-top: -35px; }

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s; }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1; }

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; }

@media screen and (min-width: 2000px) {
  .search {
    width: 47%; } }
@media screen and (max-width: 1999px) {
  .search {
    width: 73%; } }
@media screen and (max-width: 1500px) {
  .search {
    width: 62%; } }
@media screen and (min-width: 800px) {
  .my-button {
    display: none; }

  .search {
    display: block; }

  .img__description {
    width: 90%; }

  .img-modal {
    width: 200px; }

  .para-modal {
    font-size: 20px; }

  .hed-modal {
    font-size: 23px; } }
@media screen and (max-width: 799px) {
  .my-button {
    display: block; }

  .search {
    display: none; }

  .active {
    display: block; }

  .hero-text h3 {
    display: none; }

  .search {
    width: 45%; }

  .search input {
    margin: auto;
    display: block;
    width: 100%; }

  .input {
    width: 100%; }

  .my-title {
    margin-top: 10px;
    font-size: 30px; }

  #comment {
    font-size: 10px; }

  .overlay {
    overflow-y: auto; }

  .overlay a {
    font-size: 20px; }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; }

  .img-modal {
    width: 200px; }

  .para-modal {
    font-size: 10px; }

  .hed-modal {
    font-size: 18px; }

  .hero-image {
    height: 1103px; }

  #myOwnModal {
    width: 100%;
    position: fixed;
    top: 94px;
    left: 0%;
    z-index: 2; } }
@media screen and (max-width: 599px) {
  .img__description {
    width: 92%;
    font-size: 30px; }

  .my-tittle-trips {
    font-size: 30px; }

  .details {
    width: 300px; }

  .form-control {
    width: 100%; }

  .img-modal {
    width: 100px; }

  .para-modal {
    font-size: 10px; }

  .hed-modal {
    font-size: 15px; }

  .copyright {
    display: none;
    visibility: hidden; } }

/*# sourceMappingURL=style.css.map */
